@charset "utf-8";
@import url(../index.html);


body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
p {
    color: white;
    text-align: center;
    /* Tudo que estiver aqui dentro é uma declaração (conjunto de propriedades) */
}